
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid var(--red-800);

  h3 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }


}

.images{
  
  
  width: 100%;
  height: 100vh;
  max-height: 600px;
}



.videos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid var(--red-800);
  padding-bottom: 2rem;
}

