.wrap {
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
}

.btn {
  width: 100px;
  height: 100px;
  background: repeating-radial-gradient(circle at 50% 50%, rgba(200,200,200,.2) 0%, rgba(200,200,200,.2) 2%, transparent 2%, transparent 3%, rgba(200,200,200,.2) 3%, transparent 3%), conic-gradient(white 0%, silver 10%, white 35%, silver 45%, white 60%, silver 70%, white 80%, silver 95%, white 100%);
  border-radius: 50%;
 
 
  
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 20px;
  font-weight: 700;
  color: #727272;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}

.btn:hover {
  transform: rotate(90deg);
}