.bgContainer {
	background-image: url('../../../public/images/dj.jpg');
	background-size: cover;
	
	height: 100vh;
	background-position: bottom;
	background-attachment: fixed;
}

.mainContainer {
	max-width: 600px;
	
}

.hero {
	max-width: 100%;
	padding-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
		

	.textContent {
		animation-duration: 2s;
		animation-name: slidein;
		font-size: 4rem;
		text-align: center;
		
		span{
			color: var(--red-300);
		}
	
	
		
		@keyframes slidein {
			from {
				transform: translateX(200%);
			}
			to {
				transform: translateX(0%);
			}
	}
	
	}


	.textContent2 {
		animation-duration: 3s;
		animation-name: slidein2;
		font-size: 4rem;
		text-align: center;
		
		button{
			
			height: 4rem;
			width: 80vw;
			font-size: 2rem;
			background: var(--red-800);
			border-radius: 0.5em;
			border: none;
			color: white;
      box-shadow:
				
				0 0 7px var(--red-850),
				0 0 10px var(--red-850),
				0 0 21px var(--red-850);


 
        animation: pulsate2 1s infinite alternate;   


				@keyframes pulsate2 {
					100% {
						/* Larger blur radius */
						box-shadow:
							0 0 4px var(--red-850),
							0 0 11px var(--red-850),
							
					}
					0% {
						/* Smaller blur radius */
						box-shadow:
							0 0 2px var(--red-850),
			
					}
				}


		}
	
		
		@keyframes slidein2 {
			from {
				transform: translateX(500%);
			}
			to {
				transform: translateX(0%);
			}
	}
	
	}

	}

	@media (min-width: 600px) {
		.bgContainer, .mainContainer {
			max-width: 100%;
			margin: 0 auto;


		.textContent{
			font-size: 5rem;
		}	

		.textContent2{

			font-size: 5rem;
			button {
					width: 500px;
				}
		}

		}



	}


