.footerContainer {
  max-width: 1200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 10rem auto;
 

  
}

.footerContainer img {
  padding: 0 25px;
  height: 60px;
}

div {
  color: white;
}