.footerContainer {
  max-width: 1200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 4rem auto;
  
  padding: 1rem;
 
  img {
    padding: 0 25px;
    height: 60px;
  
}


}




