.burger {
  width: 100%;
  height: 5em;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 3em;
  height: 0.6em;
  background-color: var(--red-300);
  border-radius: 0.5em;
  z-index: 2;
}

.menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.849);
  position: absolute;
  top: 0;
  z-index: -1;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}

.visible {
  display: inherit;
  z-index: 1;

}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
  
}

.burger-bar.clicked:nth-child(2){
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}


.menu-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 15rem 1rem;
  font-size: 2rem;
  

}

.menu-list a {
  cursor: pointer;
  padding:  3rem 0;
  border-bottom: 1px solid black;
  ;
  
}


@media (min-width:600px) {
  .burger{
    display: none;
  }
}

@media (max-width: 600px) {
  .menu-pc {
    display: none;
  }
  
}
